<as-split direction="vertical" unit="pixel" [gutterSize]="0">
    <as-split-area [size]="75" [lockSize]="true">
        <app-header/>
    </as-split-area>
    <as-split-area size="*">
        <as-split direction="horizontal" unit="pixel" [gutterSize]="0">
            @if (authService.isAuthenticated && isSidebarVisible()) {
                <as-split-area [size]="250" [lockSize]="true">
                    <app-sidebar/>
                </as-split-area>
            }
            <as-split-area size="*">
                <div class="app-content">
                    <router-outlet/>
                </div>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>
