<!-- <p>dashboard works!</p> -->

<p>snail-button</p>
<snail-button label="Primary" color="primary"></snail-button>
<snail-button label="Info" color="info"></snail-button>
<snail-button label="Success" color="success"></snail-button>
<snail-button label="Warn" color="warn"></snail-button>
<snail-button label="Danger" color="danger"></snail-button>

<p>snail-input</p>
<snail-text-field placeholder="test"></snail-text-field>
<snail-text-field [disabled]="true" placeholder="test"></snail-text-field>
